/* @import  url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"); */
/* .signup-page{
    width: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
}
.signup-header{
    text-align: center;
} */

/* *{
    background-color:#E1F9F4;
}  */


.signup-page{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color:rgb(225,249,244);
}
.signup-content{

    position: absolute;
left: 30%;
right: 30%;
top: 20%;
bottom: 10%;

background: rgb(255, 255, 255);
/* border: 1px solid black; */
border-radius: 10px;
}

/* .login-content{
   
    position: absolute;
   
    width: 800px;
    height: 700px;
     left: 300px;
    top: 100px; 
    border:1px solid red
} */

.signup-logo{
    position: absolute;
   
width: 150px;
height: 150px;

left: 38%;
top: 5%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 18px;
/* identical to box height, or 45% */

display: flex;
align-items: center;
letter-spacing: 0.25px;

color: #4C57B6;

}
.signup-details{
    position: absolute;
    width: 328px;
    height: 22px;
    left: 41%;
    top: 23%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height, or 147% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

color: #000000;

opacity: 0.6;
}
.signup-mail{
    box-sizing: border-box !important;

position: absolute !important;
height: 54px !important;
left: 10% !important;
width: 460px !important;
/* right: 10% !important; */
top: 40% !important;
border: 1px solid !important;

/* Colors/Neutral/White */

background: #FFFFFF;
border: 1px solid #c1c1c1 !important;
border-radius: 5px !important;
}

.signup-password{
box-sizing: border-box;

position: absolute;
height: 56px;
left: 10%;
width: 460px !important;
top: 54%;
border: 1px solid #c1c1c1 !important;
border-radius: 5px !important;

/* Colors/Neutral/White */

background: #FFFFFF;
border: 1px solid #E2E2E2;
border-radius: 5px;
}
.signup-confirm-password{
box-sizing: border-box;

position: absolute;
left: 10%;
width: 460px !important;
top: 68%;
height: 56px;

/* bottom: 23%; */
border: 1px solid #c1c1c1 !important;
border-radius: 5px !important;

/* Colors/Neutral/White */

background: #FFFFFF;
border-radius: 5px;
}


.signup-submit{
    
position: absolute;
left: 10%;
right: 10%;
top: 82%;
bottom: 10%;
text-align: center;
text-decoration: none;
background: #4C57B6;
border-radius: 5px;

}
/* .login-submit{
    
position: absolute;
left: 10%;
right: 10%;
top: 75%;

bottom: 17%;



background: #4C57B6;
border-radius: 5px;
} */


























/* .signup-page{
    width: 564px;
    height: 583px;
    background-color: #FFFFFF;
    border: 1px solid red;
    border-radius: 10px;
    margin: auto;
    margin-top: 220px; */
    /* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */
/* display: flex; */
/* 
.signup{
    text-align: center;

}
.logo{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 18px;

letter-spacing: 0.25px;

color: #4C57B6;
} */
/* .content{
    box-sizing: border-box;


    background: #FFFFFF;
border: 1px solid #E2E2E2;
border-radius: 5px;
} */
