.main_header{
    display: flex;
    flex-direction: row;
    justify-content:space-between  !important;
    height: 10vh;
    border-bottom: 5px solid rgb(225,249,244);
    align-items: center;
}
.main_header>p{
    margin-left: 55px !important; 
}

.logout_content{
    right: 15vh !important;
    position: relative !important;
    color: gray;
    font-size: 2vh;
}
.logouts{
  position: absolute;
  height: 5vh !important;
  width: 100%;
  top: 3vh !important;
  border: 0px;
  border-radius: 10px;
  background-color: skyblue;
  font-size:x-large;
  color: white;
}
.logouts:active{
background-color:  rgb(116, 178, 203);
}
@media screen and (max-width: 480px) {
    .main_header{
        flex-direction: column;
        /* align-items:end; */
    }
    .main_header>p{
        text-align: center;
        margin-top: 1vh;
    }
    .logout_content{
        align-self:flex-end;
        margin-bottom: 1vh;
    }
}
