.main_header{
    display: flex;
    flex-direction: row;
    justify-content:space-between  !important;
    height: 10vh;
    border-bottom: 5px solid rgb(225,249,244);
    align-items: center;
}
.main_header>p{
    margin-left: 55px !important; 
}

.logout_content{
    right: 150px !important;
    position: relative !important;
    color: gray;
    font-size: 20px;
}
.logouts{
  position: absolute;
  height: 55px !important;
  width: 100px;
  top: 55px !important;
  border: 0px;
  border-radius: 10px;
  background-color: skyblue;
  font-size:x-large;
  color: white;
}
