.home{
    display: flex;
    flex-direction: row;
}
.side_nav{
    width: 20%;
    height: 100vh;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side_nav_content >div{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    color: gray;
    

}
.side_nav_content >div > h3{
    font-weight: lighter;
}
.side_nav_content >div:hover{
    color: black;
}
.main_home{
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 209, 209);
    width: 100%;
}
.main_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    border-bottom: 5px solid skyblue;
    align-items: center;
}
.main_header>p{
    margin-right: 1000px;
    
}

.logout_content{
    right: 300px;
    position: fixed;
}
.logouts{
  position: absolute;
  height: 70px;
  width: 100px;
  top: 45px;
  border: 0px;
  border-radius: 10px;
  background-color: skyblue;
  font-size:x-large;
}

.main_sub_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    position: relative;
}
.main_content{
    width: 100%;
    height: 60vh;
}
table{
    width: 1400px;
    height: 60vh;
    /* margin: 10px 50px; */
    background-color: rgb(209, 209, 209);
    /* border-collapse:separate; */
    border-spacing: 0 20px;
    padding:30px;
    
}
tr,th{
    height: 80px;
}
td{
    /* border-radius: 20px; */
    text-align: center;
    padding: 20px 0px;
}

tr{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid gray; */
    
}
tr,th:first-child,td:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
tr,th:last-child,td:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main_sub_header>button{
    width: 200px;
    height: 70px;
    border-radius: 35px;
    background-color: skyblue;
    border: 0px;
}
.app-property{
    text-decoration: none;
    font-size: x-large;
}
.search{
    width: 350px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 20px;
    padding-left: 30px;
}
.app-property-button{
    box-shadow: 10px 10px 10px gray;
}
/* .fa-solid{
    position:absolute;
    left: 530px;
} */
