body{
  position: relative;
background: #E1F9F4;


}
.reactanle-360{
  width: 780px;
  height: 37px;
  background-color: rgb(255, 255, 255);
border-radius: 29px;
position: absolute;
margin-top: 30px;
}
.Rectangle-299 {
  
  width: 852px;
  height: 3px;
  background-color:  #E1F9F4;
  position: absolute;
  margin-top: -40px;
}
.is-active{

font-family: 'Source Sans Pro';
font-style: normal;
width: 70px;
height: 40px;
font-size: 60px;
line-height: 55px;

color: #FFFFFF;


position: absolute;

}
.link {
    color:black;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .link-active {
    color:whitesmoke;
    background: #6AB4F8;
    
    border-radius: 21px;

font-size: 15px;
line-height: 55px;
    
  }
  .Info-Block{
  background-color:  #F5F5F5;
    position: absolute;
    left: 320px;
    margin-top: -2px;
    width: 852px;
    height: 498px;
    padding-top: 130px;
    padding-left: 80px;
    
  }